.header__burger-button{
        margin: 48px 0 0 50px;
        cursor: pointer;
        display: none;
        padding: 10px;
        background: transparent;
        border: 1px solid transparent;
        margin: 7px 0;
    }

@media screen and (max-width:912px ){
.header__burger-button{
    display: block;
    }
}

