.footer{
    max-width: 1440px;
    width: 100%;
    background-color: var(--black);
    display: flex;
}

.footer__wrapper{
    width: 1345px;
    display: flex;
    flex-direction: column;
}

.footer__wrapper-wrapper{
    display: none;
}

.footer__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__box1{
    margin-left: 60px;
    margin-top: 50px;
}

.footer__box2{
    margin-top: 44px;
}

.footer__box3{
    margin-top: 44px;
}

.footer__box4{
    margin-right: 70px;
    margin-top: 50px;
}

.footer__two-wheelers-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--gold);
}

.footer__adress{
    margin-top: 25px;
    width: 242px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--gold);
}

.footer__telephone{
    margin-top: 31px;
    width: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--gold);
}

.footer__link{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--gold);
}

.footer__link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer__store_hours-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--gold);
}

.footer__working-hours{
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--gold);
}

.footer__bottom{
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    margin-top: 118px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: end;
}

.footer__bottom-wrapper {
    display: flex;
    justify-content: space-around;
    flex: 0.9 0 auto;
    align-items: center;
}

.footer__wrapper-container1{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.footer__wrapper-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__copyrights-description{
    width: 383px;
    /* margin-left: 530px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--gold);
}

.footer__icons{
    /* margin-left: 213px; */
    display: flex;
    gap:37px;
}

.footer__icon:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: fill 0.3s linear;
    transition: transform 0.3s linear;
}

@media screen and (max-width: 1340px){
    .footer__bottom{
        width: 1250px;
    }
}
    
@media screen and (max-width: 1280px){
    .footer__bottom{
        width:1120px;
    }
}

@media screen and (max-width: 1180px){

    .footer__bottom{
        width: 870px;
    }

    .footer__two-wheelers-title{
        font-size:20px
    }

    .footer__adress {
        font-size:18px
    }


    .footer__telephone {
        font-size:18px
    }

    .footer__link{
        font-size:18px
    }

    .footer__working-hours{
        font-size:20px
    }

    .footer__copyrights-description{
        font-size:16px
    }
}

@media screen and (max-width: 1040px){

    .footer__top{
        justify-content: flex-start;
    }

    .footer__box1{
        margin-left: 30px;
    }

    .footer__box2{
        margin-left: 12px;
    }

    .footer__box3{
        margin-left: 12px;
    }

    .footer__box4{
        margin-left: 30px;
    }

    .footer__link{
        font-size: 16px;
    }

    .footer__adress{
        font-size: 16px;
    }

    .footer__telephone{
        font-size: 18px;
    }

    .footer__working-hours{
        font-size: 18px;
    }

    .footer__bottom{
        margin-left: 30px;
        justify-content: flex-start;
        width: 630px;
    }

    .footer__bottom-wrapper{
        flex: 0.5 0 auto
    }
}

@media screen and (max-width:900px ){
    .footer__wrapper{
        display: none;
    }

    .footer__wrapper-wrapper{
        display: block;
    }

    .footer__wrapper-container1{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .footer__wrapper-container2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        padding-left: 120px;
    }

   .footer__box2-wrapper-wrapper{
    margin-top: 30px;
   }
 
}
    @media screen and (max-width:680px ){

        .footer__wrapper-container2{
            padding-left: 60px;
        }

        .footer__bottom-wrapper{
            display: block;
            margin-left: 100px;
        }
        .footer__bottom{
            width: 359px
        }
   
        .footer__top {
            flex-direction: column;
    }

    .footer__bottom{
        margin-top: 30px;
    }

    .footer__bottom-wrapper{
        margin-left: 50px;
    }

    .footer__wrapper-container1 {
       margin-left: 90px;     
    }

    .footer__wrapper-container2 {
        padding-left: 85px;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__box2-wrapper-wrapper{
        margin-top: 25px;
    }

    .footer__icons{
        margin-top: 10px;
        gap: 30px;
        justify-content: center;
    }
    
    .footer__copyrights-description{
    width: 341px;
}
}

@media screen and (max-width:460px ){
    .footer__wrapper-container1{
        margin-left: 1px;
    }

    .footer__wrapper-container2{
        margin-left: 1px;
        padding-left: 30px;;
    }

    .footer__working-hours{
        font-size: 16px;
    }

    .footer__telephone{
        font-size: 16px;
    }

    .footer__adress{
        font-size: 16px;
    }

    .footer__store_hours-title {
        font-size: 20px;
    }

    .footer__bottom-wrapper{
        margin-left: 1px;
    }

    .footer__bottom{
        width: 260px;
    }
    
    .footer__box4-wrapper-wrapper{
        margin-left: 50px;
    }


    .footer__copyrights-description{
        width: 200px;
    }
}

